<!DOCTYPE html>
<html lang="ja">

<head>
  <title>カタヌキ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
  <script src="gtag.js"></script>
</head>

<body>
  <div id="app">
    <h1>カタヌキ</h1>

    <div class="card-wrapper">
      <transition name="card-slide" @after-leave="pickup">
        <div class="card" v-bind:class="type" v-show="show" :key="word">
          <div v-bind:class="{mask:mask}">
            <p class="word">
              <span v-if="isEmpty">GAME OVER</span>
              <span v-else>{{ word }}</span>
            </p>
            <p class="type">
              <span>{{ typeName }}</span>
            </p>
          </div>
        </div>
      </transition>
    </div>

    <button class="open" @click="cardLeave" v-bind:disabled="isEmpty ? true : false">
      <p class="open-caption">
        <span>次のお題</span>
      </p>
      <p class="open-card-num">
        <span>残り {{ cardNum }} / {{ cardTotalNum }}</span>
      </p>
    </button>

    <div class="answer">
      <button class="correct" @click="correct" v-bind:disabled="isEmpty ? true : false">正解！</button>
      <button class="incorrect" @click="incorrect" v-bind:disabled="isEmpty ? true : false">不正解！</button>
    </div>

    <button class="show-player-modal-button" @click="showPlayerModal = true">参加者を表示</button>

    <div class="modal-mask" v-if="showPlayerModal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="player-modal">
            <div class="player-modal-header">
              <p>
                <span>参加者</span>
                <button @click="showPlayerModal = false">閉じる</button>
              </p>
            </div>
            <div class="player-modal-body">
              <ul class="player-list">
                <li v-for="score in scores">
                  <span>{{ score.name }} - {{ score.point }}</span>
                </li>
              </ul>
              <input type="text" v-model="playerName" placeholder="名前を入力">
              <button @click="addPlayer">追加</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-mask" v-if="showAddScoreModal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="add-score-modal">
            <div class="add-score-modal-header">
              <p>
                <span>正解した人を選択</span>
                <button @click="showAddScoreModal = false">閉じる</button>
              </p>
            </div>
            <div class="add-score-modal-body">
              <ul class="player-list">
                <button v-for="score in scores" @click="addScore(score.name)" class="player-name">
                  <span>{{ score.name }}</span>
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>Ver. 1.4.0</p>
      <p>&copy; 2019 Morico</p>
      <p>Designed by ちきん</p>
    </footer>
  </div>

  <script src="app.js"></script>
</body>

</html>
