body {
  margin: 0;
  padding: 0 2%;
  background: rgb(203, 230, 243);
  font-family: sans-serif;
  touch-action: manipulation;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem auto;
}

button {
  outline: none;
  -webkit-user-select: none;
}

.card-wrapper {
  margin: 1.5rem auto;
  width: 80%;
  height: 36vw;
}

.card {
  position: relative;
  line-height: 36vw;
  text-align: center;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 4vw;
}

.card p {
  margin: 0;
  padding: 0;
  font-size: 6vw;
}

.katakoto {
  background-color: rgb(255, 234, 42);
}

.gesture {
  background: url("img/gesture.png") no-repeat center;
  background-color: rgb(129, 214, 116);
  background-size: contain;
}

.mask {
  border-radius: 4vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.type {
  line-height: 100%;
  position: absolute;
  top: 0.5vw;
  right: 2.5vw;
  font-size: 1vw;
}

.type span {
  font-size: 4vw;
}

.open {
  display: block;
  margin: 1.5rem auto;
  padding: 8px 0;
  width: 50%;
  border-radius: 3vw;
}

.open-caption {
  font-size: 5vw;
}

.open p {
  margin: 0;
  padding: 0;
}

.answer {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around;
}

.correct,
.incorrect {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  font-size: 100%;
}

.footer {
  margin: 1.5rem auto;
  text-align: center;
}

.footer p {
  margin: 0;
}


/* Player modal */

.show-player-modal-button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem 1.0rem;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80vw;
  margin: 0px auto;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-container button {
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.modal-header,
.modal-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-header button {
  padding: 2vw;
}

.modal-form {
  align-items: center;
  margin-top: 4vw;
}

.modal-form input {
  width: 70%;
  font-size: 6vw;
  padding: 1vw;
}

.modal-form button {
  width: 25%;
  padding: 0.5rem;
}

.player-list {
  margin-top: 1.0rem;
  padding: 0;
}

.player-list li {
  list-style: none;
  margin: 2vw 0;
  padding: 0;
  font-size: 8.0vw;
}

.add-score-modal-body .player-name {
  margin: 0.2rem;
  padding: 1.0rem;
}


/* Transition */

.card-slide-leave-to {
  transform: translateX(-100vw);
}

.card-slide-enter {
  transform: translateX(100vw);
}

.card-slide-enter-active,
.card-slide-leave-active {
  transition: all 0.15s ease;
}
