body {
  margin: 0;
  padding: 0 2%;
  background: rgb(203, 230, 243);
  font-family: sans-serif;
}

button {
  outline: none;
}

.card {
  position: relative;
  width: 80%;
  height: 36vw;
  line-height: 36vw;
  text-align: center;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 4vw;
}

.word {
  margin: 0;
  padding: 0;
}

.word span {
  font-size: 6vw;
}

.type {
  margin: 0;
  padding: 0;
  line-height: 100%;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.open {
  display: block;
  margin: 1em auto;
  width: 50%;
  height: 4em;
  font-size: 95%;
  border-radius: 20px;
}

.correct-incorrect {
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
}

.correct,
.incorrect {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  font-size: 100%;
}

h1 {
  text-align: center;
}

.footer {
  margin: 1em auto;
  text-align: center;
}

.footer p {
  margin: 0;
}
